.item-list {
    list-style-type: none;
    padding:0 ;
    margin-bottom: 40px;
}
.item-list li {
    background-color: white;
    padding: 20px;
    display: flex;
    margin: 10px 0;
    position: relative;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}